#nav{
    height: 110px;
    width: 100%;
    
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;

}
*{
    margin: 0px;
    padding: 0px;

}
#space{
    height: 50px;
    width: 250px;
    margin-left: 100px;
    
}
#main{
    display: flex;
    width:600px;
    
    justify-content: space-around;
}
.link{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200px;
}
#last{
    position: absolute;
    right: 0px;
    width: 300px;
    
    display: flex;
    justify-content: space-around;
}
#t-shirt{
    height: 600px;
    width: 100%;
}
#t{
    font-size: 30px;
    font-weight: 40px;
    text-align: center;
    margin-top: 60px;
}
#main-1{
    height: 542px;
    width: 100%;
    
    margin-top: 50px;
   
    
    
    
}
.black{
    height: 450px;
    transition: all 2s;
    
    

}
.box{
    display: flex;
    justify-content: space-around;
    
}

#para1{
    
    border:2px solid white;
}
#cont{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#submit{
    background-color: black;
    color: white;
    padding: 12px 24px;
    margin-left: 700px;
    transition: all 0.5s ;
}

#submit:hover{
    background-color: white;
    color:black;
}
#feed{
    height:300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

#last-1{
    text-align: center;
    color:white;
   
}